<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
    {% endblock %}
</head>
<body>
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="message error">{{ flashMessage }}</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="message success">{{ flashMessage }}</div>
{% endfor %}
{% block content %}{% endblock %}
</body>
</html>
