{% extends parent_template %}

{% if 'EasyAdmin' in parent_template %}
    {% form_theme config_form with easyadmin_config('design.form_theme') %}
{% endif %}

{% block content_title %}Settings for {{ extension }}{% endblock %}
{% block main %}
    {{ form_start(config_form) }}
    <div class="row">
    {% for child in config_form.children %}
        <div class="col-xs-12">
            {{ form_row(child) }}
        </div>
    {% endfor %}
    </div>
    {{ form_end(config_form) }}
{% endblock %}
