{% extends parent_template %}

{% block content_title %}Bundles configurations{% endblock %}
{% block main %}
    <ul>
        {% for bundle in bundles %}
        <li>
            <a href="{{ path('barth_simpleconfig_edit', {'package' : bundle}) }}" >
                Edit {{ bundle }} configuration
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
